<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_Name" value="videoMgr"></property>
	<contextName>${APP_Name}</contextName>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{yyyy.MM.dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      		<fileNamePattern>/unity6d/log.o.unity6d.com/videoMgr/task.%d{yyyy-MM-dd}.log</fileNamePattern>   
      		<maxHistory>30</maxHistory>    
    	</rollingPolicy>
    	<encoder>  
            <pattern>%d{yyyy.MM.dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
    </appender>
    <logger name="com.aepan.sysmgr" level="debug" addtivity="false">
    	<appender-ref ref="file"/>
    </logger>
    <logger name="org.apache.http.wire" level="info" addtivity="false">
    	<appender-ref ref="console"/>
    </logger>
    <logger name="com.mchange.v2.c3p0.impl" level="info" addtivity="false">
    	<appender-ref ref="console"/>
    </logger>
    <root level="info">  
        <appender-ref ref="console"/>  
    </root> 
</configuration>